<!DOCTYPE HTML>
<!--
	Quiz website
-->
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Quizzz - Welcome to Trivia</title>
	<meta charset="UTF-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="assets/css/main.css" />
	<noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
</head>
<body class="is-preload">

<!-- Wrapper -->
<div id="wrapper">

	<!-- Header -->
	<!-- Note: The "styleN" class below should match that of the banner element. -->
	<header id="header" class="alt style2">
		<a href="index" class="logo"><strong>Quiz</strong> <span>by Gold</span></a>
		<nav>
			<a href="#menu">Menu</a>
		</nav>
	</header>

	<!-- Menu -->
	<nav id="menu">
		<ul class="links">
			<li><a href="index">Index</a></li>
			<li><a href="home">Home</a></li>
		</ul>
		<ul class="actions stacked">
			<li><a href="#main" class="button primary fit scrolly">Get Started</a></li>
			<li><a href="index" class="button fit">Log In</a></li>
		</ul>
	</nav>

	<!-- Banner -->
	<!-- Note: The "styleN" class below should match that of the header element. -->
	<section id="banner" class="style2">
		<div class="inner">
							<span class="image">
								<img src="images/pic07.jpg" alt="" />
							</span>
			<header class="major">
				<h1>Welcome to Tivia</h1>
			</header>
			<div class="content">
				<p>Ready to Test yourself?<br />
					All Set?</p>
			</div>
		</div>
	</section>

	<!-- Main -->
	<div id="main">

		<!-- One -->
		<section id="one">
			<div class="inner">
				<header class="major">
					<h2>About US</h2>
				</header>
				<p>Just making API's for fun! <br> Find and create free gamified quizzes and interactive lessons to engage any learner.</p>
			</div>
		</section>

		<!-- Two -->
		<section id="two" class="spotlights">
			<section>
				<a href="java" class="image">
					<img src="images/pic08.jpg" alt="" data-position="center center" />
				</a>
				<div class="content">
					<div class="inner">
						<header class="major">
							<h3>JAVA Quizz</h3>
						</header>
						<p>The test contains 25 questions and there is no time limit. <br>The test is not official, it's just a nice way to see how much you know, or don't know, about Java.</p>
						<ul class="actions">
							<li><a href="java" class="button">Take Quizz</a></li>
						</ul>
					</div>
				</div>
			</section>
			<section>
				<a href="cpp" class="image">
					<img src="images/pic09.jpg" alt="" data-position="top center" />
				</a>
				<div class="content">
					<div class="inner">
						<header class="major">
							<h3>C++ Quizz</h3>
						</header>
						<p>The test contains 25 questions and there is no time limit. <br>The test is not official, it's just a nice way to see how much you know, or don't know, about Java.</p>
						<ul class="actions">
							<li><a href="cpp" class="button">Take Quizz</a></li>
						</ul>
					</div>
				</div>
			</section>
			<section>
				<a href="generic" class="image">
					<img src="images/pic10.jpg" alt="" data-position="25% 25%" />
				</a>
				<div class="content">
					<div class="inner">
						<header class="major">
							<h3>Generic Quizz</h3>
						</header>
						<p>The test contains 25 questions and there is no time limit. <br>The test is not official, it's just a nice way to see how much you know, or don't know, about Java.</p>
						<ul class="actions">
							<li><a href="generic" class="button">Take Quizz</a></li>
						</ul>
					</div>
				</div>
			</section>
		</section>

		<!-- Three -->
		<section id="three">
			<div class="inner">
				<header class="major">
					<h2>What our clients say</h2>
				</header>
				<b style="display:block">Dani </b>
				<b style="display:block">Dani Dev and Tutorials</b>
				<p>“Working with myQuiz at the Qatar National Stadium, fans enjoyed a unique digital experience and the chance to win prizes by predicting match scores.”</p>
				<b style="display:block">Inplisehae </b>
				<b style="display:block">Instagram influencer and philantrophist</b>
				<p>“The most amazing thing about myQuiz is that it’s live. You’re playing against other players and against the clock, you’ve got multiple choices questions/answers and you’re playing for a prize – it’s really exciting. myQuiz team is fully focused and dedicated to achieving great results. The feedback was really good, everyone enjoyed it, people loved the game. That was a major success for us.”</p>
				<ul class="actions">
					<li><a href="/home#contact" class="button next scrolly">Any Query?</a></li>
				</ul>
			</div>
		</section>

	</div>

	<!-- Contact -->
	<section id="contact">
		<div class="inner">
			<section>
				<form th:action="@{/home#contact}" method="post" th:object="${user}">
					<div class="fields">
						<div class="field half">
							<label for="name">Name</label>
							<input type="text" name="name" id="name" th:field="*{name}" required/>
							<td th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name</td>
						</div>
						<div class="field half">
							<label for="email">Email</label>
							<input type="text" name="email" id="email" th:field="*{email}" required/>
							<td th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email</td>
						</div>
						<div class="field">
							<label for="message">Message</label>
							<textarea name="message" id="message" rows="6" th:field="*{message}"></textarea>
						</div>
					</div>

<!--					<ul class="actions">-->
<!--						<li><a href="#contact" class="button next scrolly">Rate us 🙏</a></li>-->
<!--					</ul>-->
					<ul class="actions">
						<li><input type="submit" value="Send Message" class="primary" /></li>
						<li><input type="reset" value="Clear" /></li>
						<li th:if="${user.error}"><input type="reset" style="background-color:#ff0000" th:value="${user.display}" /></li>
						<div th:if="${user.display}">
							<li th:if="${not user.error}">
								<input type="reset" style="background-color:#00FF00" th:value="${user.display}" />
							</li>
						</div>
					</ul>

				</form>
			</section>

			<section class="split">
				<section>
					<div class="contact-method">
						<span class="icon solid alt fa-envelope"></span>
						<h3>Email</h3>
						<a href="#">information@fbi.com</a>
					</div>
				</section>
				<section>
					<div class="contact-method">
						<span class="icon solid alt fa-phone"></span>
						<h3>Phone</h3>
						<span>+1 911</span>
					</div>
				</section>
				<section>
					<div class="contact-method">
						<span class="icon solid alt fa-home"></span>
						<h3>Address</h3>
						<span>FBI OFFICE<br />
										Idk<br />
										United States of America</span>
					</div>
				</section>
			</section>
		</div>
	</section>

	<!-- Footer -->
	<footer id="footer">
		<div class="inner">
			<ul class="icons">
				<li><a href="https://twitter.com/twitter" class="icon brands alt fa-twitter"><span class="label">Twitter</span></a></li>
				<li><a href="https://www.facebook.com/facebook" class="icon brands alt fa-facebook-f"><span class="label">Facebook</span></a></li>
				<li><a href="https://www.instagram.com/instagram/" class="icon brands alt fa-instagram"><span class="label">Instagram</span></a></li>
				<li><a href="https://github.com/AkashSShrivastava/" class="icon brands alt fa-github"><span class="label">GitHub</span></a></li>
				<li><a href="https://www.linkedin.com/in/akash-shekhar-shrivastava-778556103/" class="icon brands alt fa-linkedin-in"><span class="label">LinkedIn</span></a></li>
			</ul>
			<ul class="copyright">
				<li>&copy; Untitled</li><li>Design: <a href="https://danidev.net/">Gold</a></li>
			</ul>
		</div>
	</footer>

</div>

<!-- Scripts -->
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/jquery.scrolly.min.js"></script>
<script src="assets/js/jquery.scrollex.min.js"></script>
<script src="assets/js/browser.min.js"></script>
<script src="assets/js/breakpoints.min.js"></script>
<script src="assets/js/util.js"></script>
<script src="assets/js/main.js"></script>

</body>
</html>