<!DOCTYPE HTML>
<!--
   Gold
   -->
<html>
<head>
    <title>Gold </title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="assets/css/rating.css" />
    <link rel="stylesheet" href="assets/css/main.css" />
    <link rel="stylesheet" href="assets/css/index.css" />



    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <noscript>
        <link rel="stylesheet" href="assets/css/noscript.css" />
    </noscript>
</head>
<body class="is-preload">
<div id="wrapper">
    <div id="main">
        <section id="three">
<!--            <div class="inner">-->
                <header class="major">
                    <h2>What our Clients say!</h2>
                </header>



                    <section class="split-view">
<!--                        box 1111111111111111111111111111111111111111111111111111111111111-->
                        <div class="box box-1">
                            <h2>
                                <div class="row">
                                    <div class=" ">
                                        <h1  >
                                            <style>
                                                h1{text-align: center;}
                                             </style>
                                            <b>4.1</b>
                                        </h1>
                                        <div class="glyphicon" >
                                            <span class="fas fa-star"></span><span class="fas fa-star">
                                             </span><span class="fas fa-star"></span><span class="fas fa-star">
                                             </span><span class="far fa-star"></span>
                                        </div>
                                        <div>
                                            <h4>
                                                <style>
                                                   h4{text-align: center;}
                                                </style>
                                                <span class="glyphicon glyphicon-user"></span>2,500
                                            </h4>
                                        </div>
                                    </div>
                                </div>
                            </h2>
<!--                            <a href="{{ url_for('study_hub')}}" class="box__overlay">-->
<!--                                <h1 class="box__title">Study Hub</h1>-->
<!--                            </a>-->
                        </div>
<!--box 222222222222222222222222222222222222222222222222222222222222222222222-->
                        <div class="box box-2">
                            <div class="box__overlay">
                                <section id="testimonials">
                                    <!--heading--->
                                    <!--testimonials-box-container------>
                                    <div class="testimonial-box-container">
                                        <!--BOX-1-------------->
                                        <div class="testimonial-box">
                                            <!--top------------------------->
                                            <div class="box-top">
                                                <!--profile----->
                                                <div class="profile">
                                                    <!--img---->
                                                    <div class="profile-img">
                                                        <img src="https://cdn3.iconfinder.com/data/icons/avatars-15/64/_Ninja-2-512.png" />
                                                    </div>
                                                    <!--name-and-username-->
                                                    <div class="name-user">
                                                        <strong>Liam mendes</strong>
                                                        <span>@liammendes</span>
                                                    </div>
                                                </div>
                                                <!--reviews------>
                                                <div class="reviews">
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="far fa-star"></i><!--Empty star-->
                                                </div>
                                            </div>
                                            <!--Comments---------------------------------------->
                                            <div class="client-comment">
                                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem, quaerat quis? Provident temporibus architecto asperiores nobis maiores nisi a. Quae doloribus ipsum aliquam tenetur voluptates incidunt blanditiis sed atque cumque.</p>
                                            </div>
                                        </div>
                                        <!--BOX-2-------------->
                                        <div class="testimonial-box">
                                            <!--top------------------------->
                                            <div class="box-top">
                                                <!--profile----->
                                                <div class="profile">
                                                    <!--img---->
                                                    <div class="profile-img">
                                                        <img src="https://cdn3.iconfinder.com/data/icons/avatars-15/64/_Ninja-2-512.png" />
                                                    </div>
                                                    <!--name-and-username-->
                                                    <div class="name-user">
                                                        <strong>Noah Wood</strong>
                                                        <span>@noahwood</span>
                                                    </div>
                                                </div>
                                                <!--reviews------>
                                                <div class="reviews">
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i><!--Empty star-->
                                                </div>
                                            </div>
                                            <!--Comments---------------------------------------->
                                            <div class="client-comment">
                                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem, quaerat quis? Provident temporibus architecto asperiores nobis maiores nisi a. Quae doloribus ipsum aliquam tenetur voluptates incidunt blanditiis sed atque cumque.</p>
                                            </div>
                                        </div>
                                        <!--BOX-3-------------->
                                        <div class="testimonial-box">
                                            <!--top------------------------->
                                            <div class="box-top">
                                                <!--profile----->
                                                <div class="profile">
                                                    <!--img---->
                                                    <div class="profile-img">
                                                        <img src="https://cdn3.iconfinder.com/data/icons/avatars-15/64/_Ninja-2-512.png" />
                                                    </div>
                                                    <!--name-and-username-->
                                                    <div class="name-user">
                                                        <strong>Oliver Queen</strong>
                                                        <span>@oliverqueen</span>
                                                    </div>
                                                </div>
                                                <!--reviews------>
                                                <div class="reviews">
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="far fa-star"></i><!--Empty star-->
                                                </div>
                                            </div>
                                            <!--Comments---------------------------------------->
                                            <div class="client-comment">
                                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem, quaerat quis? Provident temporibus architecto asperiores nobis maiores nisi a. Quae doloribus ipsum aliquam tenetur voluptates incidunt blanditiis sed atque cumque.</p>
                                            </div>
                                        </div>
                                        <!--BOX-4-------------->
                                        <div class="testimonial-box">
                                            <!--top------------------------->
                                            <div class="box-top">
                                                <!--profile----->
                                                <div class="profile">
                                                    <!--img---->
                                                    <div class="profile-img">
                                                        <img src="https://cdn3.iconfinder.com/data/icons/avatars-15/64/_Ninja-2-512.png" />
                                                    </div>
                                                    <!--name-and-username-->
                                                    <div class="name-user">
                                                        <strong>Barry Allen</strong>
                                                        <span>@barryallen</span>
                                                    </div>
                                                </div>
                                                <!--reviews------>
                                                <div class="reviews">
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="far fa-star"></i><!--Empty star-->
                                                </div>
                                            </div>
                                            <!--Comments---------------------------------------->
                                            <div class="client-comment">
                                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem, quaerat quis? Provident temporibus architecto asperiores nobis maiores nisi a. Quae doloribus ipsum aliquam tenetur voluptates incidunt blanditiis sed atque cumque.</p>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                            </div>
                        </div>
                    </section>

        </section>
    </div>
</div>
<!-- Scripts -->
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/jquery.scrolly.min.js"></script>
<script src="assets/js/jquery.scrollex.min.js"></script>
<script src="assets/js/browser.min.js"></script>
<script src="assets/js/breakpoints.min.js"></script>
<script src="assets/js/util.js"></script>
<script src="assets/js/main.js"></script>
</body>
</html>