<!DOCTYPE HTML>
<!--
   Gold
   -->
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Gold </title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="assets/css/rating.css" />
    <link rel="stylesheet" href="assets/css/main.css" />
    <link rel="stylesheet" href="assets/css/index.css" />
    <link rel="stylesheet" href="assets/css/starRating.css" />
    <noscript>
        <link rel="stylesheet" href="assets/css/noscript.css" />
    </noscript>
</head>
<body class="is-preload">
<!-- Wrapper -->
<div id="wrapper">
    <!-- Header -->
    <header id="header" class="alt">
        <a href="index" class="logo"><strong>Quizz</strong> <span>by Gold</span></a>
        <nav>
            <a href="#menu">Menu</a>
        </nav>
    </header>
    <!-- Menu -->
    <nav id="menu">
        <ul class="links">
            <li><a href="index">Myself</a></li>
            <li><a href="home">Home</a></li>
        </ul>
        <ul class="actions stacked">
            <li><a href="#" class="button primary fit">Get Started</a></li>
            <li><a href="#" class="button fit">Log In</a></li>
        </ul>
    </nav>
    <!-- Banner -->
    <section id="banner" class="major">
        <div class="inner">
            <header class="major">
                <h1>Hi, my name is Gold</h1>
            </header>
            <div class="content">
                <p>A responsive Quizz website designed by Gold. Let us know feedback.<br>
                    Software Engineer at HCL
                </p>
                <ul class="actions">
                    <li><a href="#one" class="button next scrolly">Get Started</a></li>
                </ul>
            </div>
        </div>
    </section>
    <!-- Main -->
    <div id="main">
        <!-- One -->
        <section id="one" class="tiles">
            <article>
                  <span class="image">
                  <img src="images/pic01.jpg" alt="Java" />
                  </span>
                <header class="major">
                    <h3><a href="home" class="link">Java</a></h3>
                    <p>Enjoy the Java Quizz</p>
                </header>
            </article>
            <article>
                  <span class="image">
                  <img src="images/pic02.jpg" alt="" />
                  </span>
                <header class="major">
                    <h3><a href="home" class="link">C++</a></h3>
                    <p>Enjoy the C++ Quizz</p>
                </header>
            </article>
            <article>
                  <span class="image">
                  <img src="images/pic03.jpg" alt="" />
                  </span>
                <header class="major">
                    <h3><a href="home" class="link">Generic</a></h3>
                    <p>Enjoy the Generic Quizz</p>
                </header>
            </article>
            <article>
                  <span class="image">
                  <img src="images/pic05.jpg" alt="" />
                  </span>
                <header class="major">
                    <h3><a href="home" class="link">Review this?</a></h3>
                    <p>Thanks for Review😁</p>
                </header>
            </article>
        </section>
        <!-- Two -->
        <section id="three">
            <div class="inner">
                <header class="major">
                    <h2>What our clients say</h2>
                </header>
                <div class="boxx">
                <section class="split-view">
                    <!--                        box 1111111111111111111111111111111111111111111111111111111111111-->
                    <div class="box box-1">
                        <div class="box__overlay">
                        <h2>
                            <div class="row">
                                <div class=" ">
                                    <div class="speed-half">

                                        <div id="wrappers">
                                            <div id="box1-right">
                                                <span class="heading-review"><b>User Rating</b></span>
                                                <p>254 Global Review</p>
                                                <hr style="border:3px solid #f1f1f1">

                                                <div class="rows">
                                                    <div class="side-r">
                                                        <div>5 star</div>
                                                    </div>
                                                    <div class="middle-r">
                                                        <div class="bar-container">
                                                            <div class="bar-5"></div>
                                                        </div>
                                                    </div>
                                                    <div class="side-r right-r">
                                                        <div>150</div>
                                                    </div>
                                                    <div class="side-r">
                                                        <div>4 star</div>
                                                    </div>
                                                    <div class="middle-r">
                                                        <div class="bar-container">
                                                            <div class="bar-4"></div>
                                                        </div>
                                                    </div>
                                                    <div class="side-r right-r">
                                                        <div>63</div>
                                                    </div>
                                                    <div class="side-r">
                                                        <div>3 star</div>
                                                    </div>
                                                    <div class="middle-r">
                                                        <div class="bar-container">
                                                            <div class="bar-3"></div>
                                                        </div>
                                                    </div>
                                                    <div class="side-r right-r">
                                                        <div>15</div>
                                                    </div>
                                                    <div class="side-r">
                                                        <div>2 star</div>
                                                    </div>
                                                    <div class="middle-r">
                                                        <div class="bar-container">
                                                            <div class="bar-2"></div>
                                                        </div>
                                                    </div>
                                                    <div class="side-r right-r">
                                                        <div>6</div>
                                                    </div>
                                                    <div class="side-r">
                                                        <div>1 star    </div>
                                                    </div>
                                                    <div class="middle-r">
                                                        <div class="bar-container">
                                                            <div class="bar-1"></div>
                                                        </div>
                                                    </div>
                                                    <div class="side-r right-r">
                                                        <div>20</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <h1  >
                                        <style>
                                                h1{text-align: center; }
                                             </style>
                                        <b>4.1</b>
                                    </h1>
                                    <div class="glyphicon" >
                                        <span class="fas fa-star"></span><span class="fas fa-star">
                                             </span><span class="fas fa-star"></span><span class="fas fa-star">
                                             </span><span class="far fa-star"></span>
                                    </div>
                                    <div>
                                        <h5>
                                            <style>
                                                   h5{text-align: center;}
                                                </style>
                                            <span class="glyphicon glyphicon-user"></span>2,500
                                        </h5>
                                    </div>
                                </div>
                            </div>
                        </h2>


                        <!--                            <a href="{{ url_for('study_hub')}}" class="box__overlay">-->
                        <!--                                <h1 class="box__title">Study Hub</h1>-->
                        <!--                            </a>-->
                    </div>
                    </div>
                    <!--box 222222222222222222222222222222222222222222222222222222222222222222222-->
                    <div class="box box-2">
                        <div class="box__overlay">

                            <section id="testimonials">
                                <!--heading--->
                                <!--testimonials-box-container------>
                                <div class="testimonial-box-container">
                                    <!--BOX-1-------------->
                                    <div class="testimonial-box">
                                        <!--top------------------------->
                                        <div class="box-top">
                                            <!--profile----->
                                            <div class="profile">
                                                <!--img---->
                                                <div class="profile-img">
                                                    <img src="https://cdn3.iconfinder.com/data/icons/avatars-15/64/_Ninja-2-512.png" />
                                                </div>
                                                <!--name-and-username-->
                                                <div class="name-user">
                                                    <strong>Liam mendes</strong>
                                                    <span>@liammendes</span>
                                                </div>
                                            </div>
                                            <!--reviews------>
                                            <div class="reviews">
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="far fa-star"></i><!--Empty star-->
                                            </div>
                                        </div>
                                        <!--Comments---------------------------------------->
                                        <div class="client-comment">
                                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem, quaerat quis? Provident temporibus architecto asperiores nobis maiores nisi a. Quae doloribus ipsum aliquam tenetur voluptates incidunt blanditiis sed atque cumque.</p>
                                        </div>
                                    </div>
                                    <!--BOX-2-------------->
                                    <div class="testimonial-box">
                                        <!--top------------------------->
                                        <div class="box-top">
                                            <!--profile----->
                                            <div class="profile">
                                                <!--img---->
                                                <div class="profile-img">
                                                    <img src="https://cdn3.iconfinder.com/data/icons/avatars-15/64/_Ninja-2-512.png" />
                                                </div>
                                                <!--name-and-username-->
                                                <div class="name-user">
                                                    <strong>Noah Wood</strong>
                                                    <span>@noahwood</span>
                                                </div>
                                            </div>
                                            <!--reviews------>
                                            <div class="reviews">
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i><!--Empty star-->
                                            </div>
                                        </div>
                                        <!--Comments---------------------------------------->
                                        <div class="client-comment">
                                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem, quaerat quis? Provident temporibus architecto asperiores nobis maiores nisi a. Quae doloribus ipsum aliquam tenetur voluptates incidunt blanditiis sed atque cumque.</p>
                                        </div>
                                    </div>
                                    <!--BOX-3-------------->
                                    <div class="testimonial-box">
                                        <!--top------------------------->
                                        <div class="box-top">
                                            <!--profile----->
                                            <div class="profile">
                                                <!--img---->
                                                <div class="profile-img">
                                                    <img src="https://cdn3.iconfinder.com/data/icons/avatars-15/64/_Ninja-2-512.png" />
                                                </div>
                                                <!--name-and-username-->
                                                <div class="name-user">
                                                    <strong>Oliver Queen</strong>
                                                    <span>@oliverqueen</span>
                                                </div>
                                            </div>
                                            <!--reviews------>
                                            <div class="reviews">
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="far fa-star"></i><!--Empty star-->
                                            </div>
                                        </div>
                                        <!--Comments---------------------------------------->
                                        <div class="client-comment">
                                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem, quaerat quis? Provident temporibus architecto asperiores nobis maiores nisi a. Quae doloribus ipsum aliquam tenetur voluptates incidunt blanditiis sed atque cumque.</p>
                                        </div>
                                    </div>
                                    <!--BOX-4-------------->
                                    <div class="testimonial-box">
                                        <!--top------------------------->
                                        <div class="box-top">
                                            <!--profile----->
                                            <div class="profile">
                                                <!--img---->
                                                <div class="profile-img">
                                                    <img src="https://cdn3.iconfinder.com/data/icons/avatars-15/64/_Ninja-2-512.png" />
                                                </div>
                                                <!--name-and-username-->
                                                <div class="name-user">
                                                    <strong>Barry Allen</strong>
                                                    <span>@barryallen</span>
                                                </div>
                                            </div>
                                            <!--reviews------>
                                            <div class="reviews">
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="far fa-star"></i><!--Empty star-->
                                            </div>
                                        </div>
                                        <!--Comments---------------------------------------->
                                        <div class="client-comment">
                                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem, quaerat quis? Provident temporibus architecto asperiores nobis maiores nisi a. Quae doloribus ipsum aliquam tenetur voluptates incidunt blanditiis sed atque cumque.</p>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                </section>



            </div>
                <ul class="actions">
                    <li><a href="#contact" class="button next scrolly">Rate us 🙏</a></li>
                </ul>
            </div>
        </section>
    </div>
    <!-- Rating -->
    <section id="contact">
        <div class="inner">
            <section>
				<form th:action="@{/saved#contact}" method="post" th:object="${user}">
                    <div class="fields">
                        <div class="field">
<!--                            star Rating Start-->
                            <div class="feedback-star">
                                <div class="rating">
                                    <div th:if="${user.rate}">
                                        <li th:if="${not user.error}">
                                            <input type="radio" style="background-color:#00FF00" th:value="${user.rate}" />
                                        </li>
                                    </div>
                                    <input type="radio" name="rating" id="rating-5" th:field="*{rate}" value="5">
                                    <label for="rating-5"></label>
                                    <input type="radio" name="rating" id="rating-4" th:field="*{rate}" value="4">
                                    <label for="rating-4"></label>
                                    <input type="radio" name="rating" id="rating-3" th:field="*{rate}" value="3">
                                    <label for="rating-3"></label>
                                    <input type="radio" name="rating" id="rating-2" th:field="*{rate}" value="2">
                                    <label for="rating-2"></label>
                                    <input type="radio" name="rating" id="rating-1" th:field="*{rate}" value="1">
                                    <label for="rating-1"></label>


                                    <div class="emoji-wrapper">
                                        <div class="emoji">
                                            <svg class="rating-0" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                                <circle cx="256" cy="256" r="256" fill="#ffd93b"/>
                                                <path d="M512 256c0 141.44-114.64 256-256 256-80.48 0-152.32-37.12-199.28-95.28 43.92 35.52 99.84 56.72 160.72 56.72 141.36 0 256-114.56 256-256 0-60.88-21.2-116.8-56.72-160.72C474.8 103.68 512 175.52 512 256z" fill="#f4c534"/>
                                                <ellipse transform="scale(-1) rotate(31.21 715.433 -595.455)" cx="166.318" cy="199.829" rx="56.146" ry="56.13" fill="#fff"/>
                                                <ellipse transform="rotate(-148.804 180.87 175.82)" cx="180.871" cy="175.822" rx="28.048" ry="28.08" fill="#3e4347"/>
                                                <ellipse transform="rotate(-113.778 194.434 165.995)" cx="194.433" cy="165.993" rx="8.016" ry="5.296" fill="#5a5f63"/>
                                                <ellipse transform="scale(-1) rotate(31.21 715.397 -1237.664)" cx="345.695" cy="199.819" rx="56.146" ry="56.13" fill="#fff"/>
                                                <ellipse transform="rotate(-148.804 360.25 175.837)" cx="360.252" cy="175.84" rx="28.048" ry="28.08" fill="#3e4347"/>
                                                <ellipse transform="scale(-1) rotate(66.227 254.508 -573.138)" cx="373.794" cy="165.987" rx="8.016" ry="5.296" fill="#5a5f63"/>
                                                <path d="M370.56 344.4c0 7.696-6.224 13.92-13.92 13.92H155.36c-7.616 0-13.92-6.224-13.92-13.92s6.304-13.92 13.92-13.92h201.296c7.696.016 13.904 6.224 13.904 13.92z" fill="#3e4347"/>
                                            </svg>
                                            <svg class="rating-1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                                <circle cx="256" cy="256" r="256" fill="#ffd93b"/>
                                                <path d="M512 256A256 256 0 0 1 56.7 416.7a256 256 0 0 0 360-360c58.1 47 95.3 118.8 95.3 199.3z" fill="#f4c534"/>
                                                <path d="M328.4 428a92.8 92.8 0 0 0-145-.1 6.8 6.8 0 0 1-12-5.8 86.6 86.6 0 0 1 84.5-69 86.6 86.6 0 0 1 84.7 69.8c1.3 6.9-7.7 10.6-12.2 5.1z" fill="#3e4347"/>
                                                <path d="M269.2 222.3c5.3 62.8 52 113.9 104.8 113.9 52.3 0 90.8-51.1 85.6-113.9-2-25-10.8-47.9-23.7-66.7-4.1-6.1-12.2-8-18.5-4.2a111.8 111.8 0 0 1-60.1 16.2c-22.8 0-42.1-5.6-57.8-14.8-6.8-4-15.4-1.5-18.9 5.4-9 18.2-13.2 40.3-11.4 64.1z" fill="#f4c534"/>
                                                <path d="M357 189.5c25.8 0 47-7.1 63.7-18.7 10 14.6 17 32.1 18.7 51.6 4 49.6-26.1 89.7-67.5 89.7-41.6 0-78.4-40.1-82.5-89.7A95 95 0 0 1 298 174c16 9.7 35.6 15.5 59 15.5z" fill="#fff"/>
                                                <path d="M396.2 246.1a38.5 38.5 0 0 1-38.7 38.6 38.5 38.5 0 0 1-38.6-38.6 38.6 38.6 0 1 1 77.3 0z" fill="#3e4347"/>
                                                <path d="M380.4 241.1c-3.2 3.2-9.9 1.7-14.9-3.2-4.8-4.8-6.2-11.5-3-14.7 3.3-3.4 10-2 14.9 2.9 4.9 5 6.4 11.7 3 15z" fill="#fff"/>
                                                <path d="M242.8 222.3c-5.3 62.8-52 113.9-104.8 113.9-52.3 0-90.8-51.1-85.6-113.9 2-25 10.8-47.9 23.7-66.7 4.1-6.1 12.2-8 18.5-4.2 16.2 10.1 36.2 16.2 60.1 16.2 22.8 0 42.1-5.6 57.8-14.8 6.8-4 15.4-1.5 18.9 5.4 9 18.2 13.2 40.3 11.4 64.1z" fill="#f4c534"/>
                                                <path d="M155 189.5c-25.8 0-47-7.1-63.7-18.7-10 14.6-17 32.1-18.7 51.6-4 49.6 26.1 89.7 67.5 89.7 41.6 0 78.4-40.1 82.5-89.7A95 95 0 0 0 214 174c-16 9.7-35.6 15.5-59 15.5z" fill="#fff"/>
                                                <path d="M115.8 246.1a38.5 38.5 0 0 0 38.7 38.6 38.5 38.5 0 0 0 38.6-38.6 38.6 38.6 0 1 0-77.3 0z" fill="#3e4347"/>
                                                <path d="M131.6 241.1c3.2 3.2 9.9 1.7 14.9-3.2 4.8-4.8 6.2-11.5 3-14.7-3.3-3.4-10-2-14.9 2.9-4.9 5-6.4 11.7-3 15z" fill="#fff"/>
                                            </svg>
                                            <svg class="rating-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                                <circle cx="256" cy="256" r="256" fill="#ffd93b"/>
                                                <path d="M512 256A256 256 0 0 1 56.7 416.7a256 256 0 0 0 360-360c58.1 47 95.3 118.8 95.3 199.3z" fill="#f4c534"/>
                                                <path d="M336.6 403.2c-6.5 8-16 10-25.5 5.2a117.6 117.6 0 0 0-110.2 0c-9.4 4.9-19 3.3-25.6-4.6-6.5-7.7-4.7-21.1 8.4-28 45.1-24 99.5-24 144.6 0 13 7 14.8 19.7 8.3 27.4z" fill="#3e4347"/>
                                                <path d="M276.6 244.3a79.3 79.3 0 1 1 158.8 0 79.5 79.5 0 1 1-158.8 0z" fill="#fff"/>
                                                <circle cx="340" cy="260.4" r="36.2" fill="#3e4347"/>
                                                <g fill="#fff">
                                                    <ellipse transform="rotate(-135 326.4 246.6)" cx="326.4" cy="246.6" rx="6.5" ry="10"/>
                                                    <path d="M231.9 244.3a79.3 79.3 0 1 0-158.8 0 79.5 79.5 0 1 0 158.8 0z"/>
                                                </g>
                                                <circle cx="168.5" cy="260.4" r="36.2" fill="#3e4347"/>
                                                <ellipse transform="rotate(-135 182.1 246.7)" cx="182.1" cy="246.7" rx="10" ry="6.5" fill="#fff"/>
                                            </svg>
                                            <svg class="rating-3" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                                <circle cx="256" cy="256" r="256" fill="#ffd93b"/>
                                                <path d="M407.7 352.8a163.9 163.9 0 0 1-303.5 0c-2.3-5.5 1.5-12 7.5-13.2a780.8 780.8 0 0 1 288.4 0c6 1.2 9.9 7.7 7.6 13.2z" fill="#3e4347"/>
                                                <path d="M512 256A256 256 0 0 1 56.7 416.7a256 256 0 0 0 360-360c58.1 47 95.3 118.8 95.3 199.3z" fill="#f4c534"/>
                                                <g fill="#fff">
                                                    <path d="M115.3 339c18.2 29.6 75.1 32.8 143.1 32.8 67.1 0 124.2-3.2 143.2-31.6l-1.5-.6a780.6 780.6 0 0 0-284.8-.6z"/>
                                                    <ellipse cx="356.4" cy="205.3" rx="81.1" ry="81"/>
                                                </g>
                                                <ellipse cx="356.4" cy="205.3" rx="44.2" ry="44.2" fill="#3e4347"/>
                                                <g fill="#fff">
                                                    <ellipse transform="scale(-1) rotate(45 454 -906)" cx="375.3" cy="188.1" rx="12" ry="8.1"/>
                                                    <ellipse cx="155.6" cy="205.3" rx="81.1" ry="81"/>
                                                </g>
                                                <ellipse cx="155.6" cy="205.3" rx="44.2" ry="44.2" fill="#3e4347"/>
                                                <ellipse transform="scale(-1) rotate(45 454 -421.3)" cx="174.5" cy="188" rx="12" ry="8.1" fill="#fff"/>
                                            </svg>
                                            <svg class="rating-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                                <circle cx="256" cy="256" r="256" fill="#ffd93b"/>
                                                <path d="M512 256A256 256 0 0 1 56.7 416.7a256 256 0 0 0 360-360c58.1 47 95.3 118.8 95.3 199.3z" fill="#f4c534"/>
                                                <path d="M232.3 201.3c0 49.2-74.3 94.2-74.3 94.2s-74.4-45-74.4-94.2a38 38 0 0 1 74.4-11.1 38 38 0 0 1 74.3 11.1z" fill="#e24b4b"/>
                                                <path d="M96.1 173.3a37.7 37.7 0 0 0-12.4 28c0 49.2 74.3 94.2 74.3 94.2C80.2 229.8 95.6 175.2 96 173.3z" fill="#d03f3f"/>
                                                <path d="M215.2 200c-3.6 3-9.8 1-13.8-4.1-4.2-5.2-4.6-11.5-1.2-14.1 3.6-2.8 9.7-.7 13.9 4.4 4 5.2 4.6 11.4 1.1 13.8z" fill="#fff"/>
                                                <path d="M428.4 201.3c0 49.2-74.4 94.2-74.4 94.2s-74.3-45-74.3-94.2a38 38 0 0 1 74.4-11.1 38 38 0 0 1 74.3 11.1z" fill="#e24b4b"/>
                                                <path d="M292.2 173.3a37.7 37.7 0 0 0-12.4 28c0 49.2 74.3 94.2 74.3 94.2-77.8-65.7-62.4-120.3-61.9-122.2z" fill="#d03f3f"/>
                                                <path d="M411.3 200c-3.6 3-9.8 1-13.8-4.1-4.2-5.2-4.6-11.5-1.2-14.1 3.6-2.8 9.7-.7 13.9 4.4 4 5.2 4.6 11.4 1.1 13.8z" fill="#fff"/>
                                                <path d="M381.7 374.1c-30.2 35.9-75.3 64.4-125.7 64.4s-95.4-28.5-125.8-64.2a17.6 17.6 0 0 1 16.5-28.7 627.7 627.7 0 0 0 218.7-.1c16.2-2.7 27 16.1 16.3 28.6z" fill="#3e4347"/>
                                                <path d="M256 438.5c25.7 0 50-7.5 71.7-19.5-9-33.7-40.7-43.3-62.6-31.7-29.7 15.8-62.8-4.7-75.6 34.3 20.3 10.4 42.8 17 66.5 17z" fill="#e24b4b"/>
                                            </svg>
                                            <svg class="rating-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                                <g fill="#ffd93b">
                                                    <circle cx="256" cy="256" r="256"/>
                                                    <path d="M512 256A256 256 0 0 1 56.8 416.7a256 256 0 0 0 360-360c58 47 95.2 118.8 95.2 199.3z"/>
                                                </g>
                                                <path d="M512 99.4v165.1c0 11-8.9 19.9-19.7 19.9h-187c-13 0-23.5-10.5-23.5-23.5v-21.3c0-12.9-8.9-24.8-21.6-26.7-16.2-2.5-30 10-30 25.5V261c0 13-10.5 23.5-23.5 23.5h-187A19.7 19.7 0 0 1 0 264.7V99.4c0-10.9 8.8-19.7 19.7-19.7h472.6c10.8 0 19.7 8.7 19.7 19.7z" fill="#e9eff4"/>
                                                <path d="M204.6 138v88.2a23 23 0 0 1-23 23H58.2a23 23 0 0 1-23-23v-88.3a23 23 0 0 1 23-23h123.4a23 23 0 0 1 23 23z" fill="#45cbea"/>
                                                <path d="M476.9 138v88.2a23 23 0 0 1-23 23H330.3a23 23 0 0 1-23-23v-88.3a23 23 0 0 1 23-23h123.4a23 23 0 0 1 23 23z" fill="#e84d88"/>
                                                <g fill="#38c0dc">
                                                    <path d="M95.2 114.9l-60 60v15.2l75.2-75.2zM123.3 114.9L35.1 203v23.2c0 1.8.3 3.7.7 5.4l116.8-116.7h-29.3z"/>
                                                </g>
                                                <g fill="#d23f77">
                                                    <path d="M373.3 114.9l-66 66V196l81.3-81.2zM401.5 114.9l-94.1 94v17.3c0 3.5.8 6.8 2.2 9.8l121.1-121.1h-29.2z"/>
                                                </g>
                                                <path d="M329.5 395.2c0 44.7-33 81-73.4 81-40.7 0-73.5-36.3-73.5-81s32.8-81 73.5-81c40.5 0 73.4 36.3 73.4 81z" fill="#3e4347"/>
                                                <path d="M256 476.2a70 70 0 0 0 53.3-25.5 34.6 34.6 0 0 0-58-25 34.4 34.4 0 0 0-47.8 26 69.9 69.9 0 0 0 52.6 24.5z" fill="#e24b4b"/>
                                                <path d="M290.3 434.8c-1 3.4-5.8 5.2-11 3.9s-8.4-5.1-7.4-8.7c.8-3.3 5.7-5 10.7-3.8 5.1 1.4 8.5 5.3 7.7 8.6z" fill="#fff" opacity=".2"/>
                                            </svg>
                                        </div>
                                    </div>
                                </div>
                            </div>
<!--                            star Ratind End-->

                        </div>
                        <div class="field half">
                            <label for="name">Name</label>
							<input type="text" name="name" id="name" th:field="*{name}" required/>
							<td th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name</td>
                        </div>
                        <div class="field half">
                            <label for="email">Email</label>
							<input type="text" name="email" id="email" th:field="*{email}" required/>
							<td th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email</td>
                        </div>
                        <div class="field">
                            <label for="message">Add a review</label>
                            <textarea name="message" id="message" rows="6"  placeholder="What did you like or dislike? What did you think about us?"></textarea>
                        </div>
                    </div>
                    <ul class="actions">
                        <li><input type="submit" value="Submit" class="primary" /></li>
                        <li><input type="reset" value="Clear" /></li>
						<li th:if="${user.error}"><input type="reset" style="background-color:#ff0000" th:value="${user.display}" /></li>
						<div th:if="${user.display}">
							<li th:if="${not user.error}">
								<input type="reset" style="background-color:#00FF00" th:value="${user.display}" />
							</li>
						</div>
                    </ul>
                </form>
            </section>
            <section class="split">
                <section>
                    <div class="contact-method">
                        <span class="icon solid alt fa-envelope"></span>
                        <h3>Email</h3>
                        <a href="#">information@fbi.com</a>
                    </div>
                </section>
                <section>
                    <div class="contact-method">
                        <span class="icon solid alt fa-phone"></span>
                        <h3>Phone</h3>
                        <span>+1 911</span>
                    </div>
                </section>
                <section>
                    <div class="contact-method">
                        <span class="icon solid alt fa-home"></span>
                        <h3>Address</h3>
                        <span>FBI OFFICE<br />
                        Idk<br />
                        United States of America</span>
                    </div>
                </section>
            </section>
        </div>
    </section>
    <!-- Footer -->
    <footer id="footer">
        <div class="inner">
            <ul class="icons">
                <li><a href="https://twitter.com/twitter" class="icon brands alt fa-twitter"><span class="label">Twitter</span></a></li>
                <li><a href="https://www.facebook.com/facebook" class="icon brands alt fa-facebook-f"><span class="label">Facebook</span></a></li>
                <li><a href="https://www.instagram.com/instagram/" class="icon brands alt fa-instagram"><span class="label">Instagram</span></a></li>
                <li><a href="https://github.com/AkashSShrivastava/" class="icon brands alt fa-github"><span class="label">GitHub</span></a></li>
                <li><a href="https://www.linkedin.com/in/akash-shekhar-shrivastava-778556103/" class="icon brands alt fa-linkedin-in"><span class="label">LinkedIn</span></a></li>
            </ul>
            <ul class="copyright">
                <li>&copy; Untitled</li>
                <li>Design: <a href="https://danidev.net/">Gold</a></li>
            </ul>
        </div>
    </footer>
</div>
<!-- Scripts -->
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/jquery.scrolly.min.js"></script>
<script src="assets/js/jquery.scrollex.min.js"></script>
<script src="assets/js/browser.min.js"></script>
<script src="assets/js/breakpoints.min.js"></script>
<script src="assets/js/util.js"></script>
<script src="assets/js/main.js"></script>
</body>
</html>